@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body
{

	padding:49px;
	padding-top:23px;
   font-family: 'Fira Code', monospace;
	

}


.ca2_block1
{
	
	padding:49px;
	background: linear-gradient(to right, rgba(255,255,255,0.49) 23%, rgba(212,234,135,0.77));
	
}



.main-item
{
	height: auto;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #ACA690;

}



.main-item > h2
{

	font-size: 18pt;

}


.ms
{

    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"

}
.attention
{
	
	color:orange;
	
	
}
.container25
{

	display:flex;	
	flex-direction:row;
	flex-wrap:wrap;
	margin-top: 12pt;

}


.code
{

    font-family: 'Fira Code', monospace;

}
.command
{

    font-family: 'Fira Code', monospace;

}
a
{
	
	text-decoration: none;
	
}

a:link
{
	
	color:#338AC9;
	
}


a:visited
{
	
	color:#338AC9;
	
}


a:hover
{
	
	color:#23538c;
	text-decoration: underline;
}


.no-borders
{

	border:none;

}


/* https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers

*/

/* Light mode */
@media (prefers-color-scheme: light) 
{

   body
	{

      background-color: white;
   	color: black;

	}


	a:link
	{

		color:#338AC9;
	
	}

	
	a:visited
	{
	
		color:#338AC9;
	
	}


	a:hover
	{
	
		color:#23538c;
		text-decoration: underline;

	}

}


/* Dark mode */
@media (prefers-color-scheme: dark) 
{

	body 
	{
   
		background-color: #000;
      color: white;
   
	}


	 a:link
	{
	
		color:#3ea7f3;
	
	}


	a:visited
	{
	
		color:#3ea7f3;
	
	}


	a:hover
	{
	
		color:#3f92f8;
		text-decoration: underline;

	}

}



